@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400&family=Kalam&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

body {
  	display: block;
  	margin: 0;
	margin-bottom: 192px;
}
p {
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
}
.home-logo {
	background-color: white;
	color: rgb(238, 145, 160);
	border-radius: 50%;
	width: 384px;
	height: 256px;
	margin: 64px auto;
	display: flex;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.home-center-text {
	font-size: 128px;
	font-weight: bold;
	font-family: 'Ubuntu Mono', monospace;
	margin: auto auto;
}
.socials {
	margin: auto;
	background-color: rgb(255, 255, 255);
	width: 384px;
	padding: 16px;
	border-radius: 12px;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.social-media-icon {
	width: 64px;
	height: auto;
	margin-left: 24px;
	display: inline-block;
}
.social-media-icon:hover {
	
}

.slideshow {
	margin: 48px 96px;
}
.music-embed {
	margin-right: 48px;
	margin-bottom: 48px;
	display: inline-block;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.473);
}


/* Polaroids */
.polaroid-container {
	text-align: center;
	margin: auto;
}
.polaroid {
	background-color: rgb(245, 245, 245);
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.7);
	height: 420px;
	width: 350px;
	margin: 16px;
	display: inline-block;
	transition: all 0.1s ease-out 100ms;
}
.polaroid:hover {
	box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.5);
	transform: scale(105%);
}
.polaroid-photo {
	height: 310px;
	width: 310px;
	object-fit: cover;
	margin: 25px 19px;
	box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.8);
}
.polaroid-text {
	font-family: 'Kalam', cursive;
	margin-top: -10px;
	margin-left: 25px;
	margin-right: 10px;
	font-size: 32px;
	text-align: center;
	line-height: 95%;
	display: flex;
}
.polaroid-hover-text {
	font-family: 'Kalam', cursive;
	font-size: 32px;
	margin-top: -10px;
	position: absolute;
}

/* Navbar */
.navbar {
	background-color:rgb(27, 27, 27);
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 108px;
	z-index: 99;
}
.nav-block {
	padding: 5px;
}
.text-center {
	text-align: center;
}
.nav-item {
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0 16px;
	font-size: 48px;
	line-height: 130%;
}
@media (max-width: 1000px) {
	.navbar {
		height: 168px;
	}
}

.link {
	color: rgb(238, 145, 160);
	text-decoration: none;
}
.link:hover {
	background-color: white;
	border-radius: 15%;
	width: auto;
	height: auto;
	transition: 0.3s;
}
.link-selected {
	color:white;
}

.list {
	background-color:rgb(31, 31, 31);
	color: white;
	margin-top: 0px;
	/* margin-left: 10%;
	margin-right: 10%; */
	height: 1024px;
	font-family: 'Josefin Sans', sans-serif;
	margin: auto;
	max-width: 1150px;
}
.list-body {
	overflow: hidden; /* Hide scrollbars */
	display: inline-block;
	list-style-type: none;
}
.list-item {
	width: auto;
	font-size: 24px;
}
.list-element {
	
}
table {
	border-collapse: collapse;
	color: white;
	width: 100%;
	overflow: scroll;
}
td, th {
	text-align: left;
	padding: 16px 16px 16px 16px;
	/* padding-left: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 32px; */
	border-bottom: 1px solid #dddddd;
}

/*
Contact Form
*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 0px solid #ccc; /* Gray border */
	border-radius: 0px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: rgb(238, 145, 160);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: rgb(199, 121, 134);
}
  
/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: rgb(212, 212, 212);
	padding: 20px;
	width: 50%;
	margin: 96px auto;
}

.text-container {
	background-color: rgb(255, 255, 255);
	padding: 25px;
	width: 75%;
	margin: 25px auto;
	border-radius: 12px;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.hide {
	display: none;
}